<a href="https://colab.research.google.com/github/kgauvin603/desktop-tutorial/blob/main/Keith_Gauvin_02MAR24_mls_2_foundations_of_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week-2 Foundations of Python Programming - MLS

## Table of Content
1. Print
2. Data Types
3. Boolean Operations
4. Concatenation
5. Arithmetic Operations
6. List
7. Tuple
8. Set
9. Dictionary
10. Conditional Statements
11. Python Control Flow
12. Print Patterns

## Print
1.1 Write a program to display a statement. For example, "Hello, How are you?"

In [ ]:
print("Hello, How are you?")

Hello, How are you?

1.2 Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [ ]:
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types
Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point

2.1 Declare a string variable and check its data type

In [ ]:
str = "Hello"
print(type(str))

<class 'str'>

2.2 Declare a numeric variable and check its data type \
i. An interger variable.

In [ ]:
mynum = 10
print(type(mynum))

<class 'int'>

ii. A fractional variable

In [ ]:
myfrac = 10.5
print(type(myfrac))

<class 'float'>

<a id="boolean"></a>
## 3. Boolean Operations

Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9

In [ ]:
(54+34)* 45 == (0.9*2432)/0.9

False

<a id="concatenation"></a>
## 4. Concatenation

4.1 Create two strings and concatenate them using '+' operator.

In [16]:
str1 = "Hello"
str2 = "World"
str1 + str2

'HelloWorld'

## 5. Arithmetic Operations

5.1 Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3

In [ ]:
354/145-1345# type your code here

In [17]:
(354+145-1345) / 45 + (462 + 23) / 3

142.86666666666665

5.2 Evaluate and print the results of the following \
1353 plus 234 \
2355 minus 346 \
234 times 457 \
25 divided by 6 \
Obtain remainder of 25 divided by 6 \
33 raised to 4 \
45 divided by 6 (floor division) \
2 raised to 10

In [20]:
(1353 + 234) - (346 * 234) / (45 + (462 + 23)) / 3

1536.079245283019

5.3  Calculate BMI of a person (take input for height and weight from user).

In [23]:
height=74
weight=197
BMI=height**2/weight
print(BMI)

27.79695431472081

<a id="list"> </a>
## 6. List

6.1 Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1 \
b. Check the membership of '24' in mix_list_1 \
c. Concatenate the mix_list_1 and mix_list_2 \
d. Repeat the mix_list_2 three times

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [25]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

len(mix_list_1)

5

**b. Check the membership of '24' in mix_list_1**

In [26]:
if 24 in mix_list_1:
    print("24 is in 'mix_list_1'")# type your code here

24 is in 'mix_list_1'

**c. Concatenate the mix_list_1 and mix_list_2**

In [32]:
mix_list_1.extend (mix_list_2)
print(mix_list_1)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [33]:
print(mix_list_2*3)# type your code here

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

6.2 Write the program to multiply the two lists

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [36]:
product = []
for i in range(len(num_list_1)):
    product.append(num_list_1[i] * num_list_2[i])
print(product)

[0, 10, 6, 4]

6.3 Write a code to retrieve elements from a list

a. First element \
b. Second last element \
c. First three elements \
d. Slice the list from 1st index till the last index with an increment of an index by 2

In [38]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# a. First element
first_element = mix_list[0]
print(f"First element: {first_element}")

# b. Second last element
second_last_element = mix_list[-2]
print(f"Second last element: {second_last_element}")

# c. First three elements
first_three_elements = mix_list[:3]
print(f"First three elements: {first_three_elements}")

# d. Slice the list from 1st index till the last index with an increment of an index by 2
sliced_list = mix_list[1::2]
print(f"Sliced list: {sliced_list}")

First element: Python
Second last element: Data
First three elements: ['Python', 1, 2]
Sliced list: [1, 3, True]

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

**b. Second last element**

**c. First three elements**

6.4 Manipulating a list:

a. Add a new element 'Data' in the given list \
b. Add elements 'Excel' and 'Data' in the given list \
c. Replace an element 'C' with 'C++' in the given list

In [39]:
languages_list = ['R', 'Python', 'C', 'Java']

# a. Add a new element 'Data' to the list
languages_list.append('Data')
print(f"Updated list after adding 'Data': {languages_list}")

# b. Add elements 'Excel' and 'Data' to the list
languages_list.extend(['Excel', 'Data'])
print(f"Updated list after adding 'Excel' and 'Data': {languages_list}")

# c. Replace an element 'C' with 'C++' in the list
languages_list[2] = 'C++'
print(f"Updated list after replacing 'C' with 'C++': {languages_list}")

Updated list after adding 'Data': ['R', 'Python', 'C', 'Java', 'Data']
Updated list after adding 'Excel' and 'Data': ['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']
Updated list after replacing 'C' with 'C++': ['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data']

In [42]:
updated_list = ['R', 'Python', 'C', 'Java', 'Data']

# Add 'Data'
updated_list.append('Data')
print("Updated list after adding 'Data':", updated_list)

# Add 'Excel' and 'Data'
updated_list.extend(['Excel', 'Data'])
print("Updated list after adding 'Excel' and 'Data':", updated_list)

# Replace 'C' with 'C++'
updated_list[2] = 'C++'
print("Updated list after replacing 'C' with 'C++':")

Updated list after adding 'Data': ['R', 'Python', 'C', 'Java', 'Data', 'Data']
Updated list after adding 'Excel' and 'Data': ['R', 'Python', 'C', 'Java', 'Data', 'Data', 'Excel', 'Data']
Updated list after replacing 'C' with 'C++':

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

**b. Add elements 'Excel' and 'Data' in the given list**

**c. Replace an element 'C' with 'C++' in the given list**

6.5 How many times 'Summer' is occuring in a given list?

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [44]:
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [45]:
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

# Count the occurrences of 'Summer' in the list
summer_count = seasons_list.count('Summer')

# Print the result
print(f"Number of times 'Summer' occurs in the list: {summer_count}")

Number of times 'Summer' occurs in the list: 4

## 7. Tuple
7.1 Write a code to perform operations on tuple:

a. Check the length of num_tuple \
b. Concatenate the num_tuple and mix_tuple \
c. Repeat the mix_tuple two times

In [46]:
# Define the tuples
num_tuple = (4, 4, 8)
mix_tuple = ('John', 5, -2)

# a. Check the length of num_tuple
num_tuple_length = len(num_tuple)
print(f"Length of num_tuple: {num_tuple_length}")

# b. Concatenate the num_tuple and mix_tuple
concatenated_tuple = num_tuple + mix_tuple
print(f"Concatenated tuple: {concatenated_tuple}")

# c. Repeat the mix_tuple two times
repeated_mix_tuple = mix_tuple * 2
print(f"Repeated mix_tuple: {repeated_mix_tuple}")

Length of num_tuple: 3
Concatenated tuple: (4, 4, 8, 'John', 5, -2)
Repeated mix_tuple: ('John', 5, -2, 'John', 5, -2)

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

**b. Concatenate the num_tuple and mix_tuple**

**c. Repeat the mix_tuple two times**

7.2 Add a new element '4' to the given tuple

In [48]:
# Convert the tuple to a list
mix_list = list(mix_tuple)

# Add the new element '4'
mix_list.append('4')

# Convert the list back to a tuple
mix_tuple = tuple(mix_list)

# Print the updated tuple
print(f"Updated tuple: {mix_tuple}")

Updated tuple: ('John', 5, -2, '4')

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
# type your code here

7.3 Replace the elements in the given tuple:

a. Replace '2' with '3' \
b. Replace 'True' in first element with 'False'

In [51]:
# Convert the tuple to a list
mix_list = list(mix_tuple)

# a. Replace '2' with '3'
mix_list[1] = 3

# b. Replace 'True' in first element with 'False'
mix_list[0][2] = False

# Convert the list back to a tuple
mix_tuple = tuple(mix_list)

# Print the updated tuple
print(f"Updated tuple: {mix_tuple}")

TypeError: 'str' object does not support item assignment

In [50]:
mix_list[0] = list(mix_list[0])

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [ ]:
# type your code here

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
# type your code here

## 8. Set
8.1 Write the program to perform following manipulations:

a. Add '7' to the given set \
b. Remove '3' from a given set \
c. Clear the set

In [52]:
# Given set
num_set = {1, 2, 3, 4, 5, 6}

# a. Add '7' to the set
num_set.add(7)

# b. Remove '3' from the set
num_set.remove(3)

# c. Clear the set
num_set.clear()

# Print the updated set
print(num_set)

set()

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

**b. Remove '3' from a given set**

**c. Clear the set**

8.2 Create two sets of words from the given sentences and perform the following operations:

a. Find the count of unique words in each of the sentence \
b. Find the common words in both the sentences

In [53]:
# Import necessary libraries
from collections import Counter

# Define the sentences
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

# a. Count unique words in each sentence

# Split sentences into words
words_1 = sentence_1.split()
words_2 = sentence_2.split()

# Count occurrences of each word in each sentence
word_counts_1 = Counter(words_1)
word_counts_2 = Counter(words_2)

# Print the counts of unique words
print(f"Sentence 1: {len(word_counts_1)} unique words")
print(f"Sentence 2: {len(word_counts_2)} unique words")

# b. Find common words in both sentences

# Find the intersection of both sets of words
common_words = set(words_1).intersection(words_2)

# Print the common words
print(f"Common words: {common_words}")

Sentence 1: 7 unique words
Sentence 2: 4 unique words
Common words: {'data'}

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

**Create set of words**

**a. Find the number of unique words in the sentences**

**b. Find the common words in both the sentences**

<a id="dict"> </a>
## 9. Dictionary

9.1 Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [55]:
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary[4] = 16

9.2 Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [59]:
# Given dictionary
mix_dictionary = {0:3, 'x':5, 1:2}

# a. Retrieve all keys
keys = mix_dictionary.keys()
print(f"Keys: {keys}")

# b. Retrieve all values
values = mix_dictionary.values()
print(f"Values: {values}")

# c. Retrieve all key-value pairs
items = mix_dictionary.items()
print(f"Items: {items}")

Keys: dict_keys([0, 'x', 1])
Values: dict_values([3, 5, 2])
Items: dict_items([(0, 3), ('x', 5), (1, 2)])

9.3 Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [61]:
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
print(emp_record['Age'])

27

## 10. Conditional Statements

10.1 Write a program to check whether a given number is multiple of 7 (use if statement)

In [63]:
def is_multiple_of_7(number):
  """
  This function checks whether the given number is a multiple of 7.

  Args:
    number: The number to be checked.

  Returns:
    True if the number is a multiple of 7, False otherwise.
  """

  if number % 7 == 0:
    return True
  else:
    return False

# Example usage
test_number = 49

if is_multiple_of_7(test_number):
  print(f"{test_number} is a multiple of 7.")
else:
  print(f"{test_number} is not a multiple of 7.")

49 is a multiple of 7.

10.2 Write a code to print the maximum of two numbers (use if-else)

In [65]:
def max_of_two(num1, num2):
  """
  This function finds the maximum of two numbers.

  Args:
      num1: The first number.
      num2: The second number.

  Returns:
      The maximum of the two numbers.
  """

  if num1 > num2:
      return num1
  else:
      return num2

# Example usage
a = 10
b = 4

max_value = max_of_two(a, b)

print(f"The maximum of {a} and {b} is: {max_value}")

The maximum of 10 and 4 is: 10

10.3 Write a program to check whether a number is positive, negative or zero (use if-elif)

In [66]:
def check_number_sign(number):
  """
  This function checks whether the given number is positive, negative, or zero.

  Args:
    number: The number to be checked.

  Returns:
    A string indicating the sign of the number.
  """

  if number > 0:
    return "Positive"
  elif number < 0:
    return "Negative"
  else:
    return "Zero"

# Example usage
test_number = 5

sign = check_number_sign(test_number)

print(f"The number {test_number} is {sign}.")

The number 5 is Positive.

In [ ]:
# type your code here

## 11. Python Flow Control

11.1 Write a code to print table of 5 using assignment operand +=

In [68]:
# Initialize a variable to store the table
table_of_5 = ""

# Loop through numbers from 1 to 10
for i in range(1, 11):
  # Add the current multiplication result to the table string
  table_of_5 += f"5 x {i} = {5 * i}\n"

# Print the final table
print(table_of_5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

11.2 Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop

In [69]:
# Initialize the first two Fibonacci numbers
i, j = 0, 1

# Print the first two numbers
print(i)
print(j)

# Loop to generate the next 10 Fibonacci numbers
count = 2
while count <= 10:
  # Calculate the next Fibonacci number
  k = i + j

  # Print the next Fibonacci number
  print(k)

  # Update the values of i and j for the next iteration
  i = j
  j = k

  # Increment the count
  count += 1

0
1
1
2
3
5
8
13
21
34
55

## 12. Print Patterns

12.1 How to print full pyramid and asterisk(star) patterns in python

        *   
       *  *   
      *  *  *   
     *  *  *  *   
    *  *  *  *  *

In [71]:
def print_full_pyramid(n):
  """
  This function prints a full pyramid pattern with the given number of rows.

  Args:
      n: Number of rows in the pyramid.
  """

  for i in range(n):
    # Print spaces
    for j in range(n - i - 1):
      print(" ", end="")

    # Print increasing asterisks
    for k in range(i + 1):
      print("* ", end="")

    # Print decreasing asterisks
    for m in range(k - 1, 0, -1):
      print("* ", end="")

    print()

# Example usage
n = 5
print_full_pyramid(n)

    *
   * *
  * * * *
 * * * * * *
* * * * * * * *

12.2 Form a lower tringular matrix in ' * ' pattern

*
* *  \\
* * *  \\
* * * *  \\
* * * * *  \\

In [75]:
#Form a lower tringular matrix in ' * ' pattern

In [74]:
def print_lower_triangle_asterisk(n):
  """
  This function prints a lower triangular matrix in '* ' pattern with the given number of rows.

  Args:
      n: Number of rows in the matrix.
  """

  for i in range(n):
    for j in range(n):
      if i >= j:
        print("* ", end="")
      else:
        print("  ", end="")
    print()

# Example usage
n = 5
print_lower_triangle_asterisk(n)

*
* *
* * *
* * * *
* * * * *